<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>

    <link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="static/semantic/dist/semantic.min.js"></script>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
<form method="post" action="/addname">
      <label> User Name</label><br>
     <input type="text" name="username" placeholder="Enter Username..." required>
     <br>
      <label>Enter Password</label><br>
      <input type="password" name="password" placeholder="Password..." required>
      <input type="submit" value="Add Name">
</form>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>